table{
    text-align: center;
}
table tr td{
    border-bottom: 1px solid gray;
}

table img{
    width: 50%;
}

div{
    vertical-align: top;
}

blockquote{
    padding: 16px 0 16px 24px;
    font-size: 18px;
    font-weight: 300;
}

video{
    width: 50%;
}

.v-application p{
    margin-bottom: 0px !important;
}